<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container-fluid">
    <div class="row mt-1">
        <div class="col">
            <h1>DHP Test Client</h1>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col">
            <h5 th:text="'Message Headpoint: ' + ${dhptestclient.endPoint}" />
        </div>
    </div>
    <form action="/dhptestclient" method="post" th:object="${dhptestclient}">
        <div class="row mt-3">
            <div class="col">
                <div class="card">
                    <h5 class="card-header">Message Type</h5>
                    <div class="card-body">
                        <div class="col">
                            <div class="row">
                                <div class="form-check-inline">
                                    <label class="form-check-label" for="radioDvaNotif">
                                        <input type="radio" class="form-check-input" id="radioDvaNotif" name="optradio" th:field="*{messageType}" th:value="1" >DvaNotif
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label" for="radioDvaNotifR">
                                        <input type="radio" class="form-check-input" id="radioDvaNotifR" name="optradio" th:field="*{messageType}" th:value="2" >DvaNotifR_Response
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <h5 class="card-header">Message Format</h5>
                    <div class="card-body">
                        <div class="col">
                            <div class="row">
                                <div class="form-check-inline">
                                    <label class="form-check-label" for="radioDvaNotif">
                                        <input type="radio" class="form-check-input" id="radioXML" name="optradio" th:field="*{messageFormat}" th:value="1" >XML
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label" for="radioDvaNotifR">
                                        <input type="radio" class="form-check-input" id="radioJSON" name="optradio" th:field="*{messageFormat}" th:value="2" >JSON
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <div class="card">
                    <h5 class="card-header">Request</h5>
                    <div class="card-body">
                        <div class="col">
                            <div class="row">
                                <h6>Header</h6>
                            </div>
                            <div class="row mt-1">
                                <textarea class="form-control" id="requestHeader" rows="5" th:text="${dhptestclient.requestHeader}">
                                </textarea>
                            </div>
                            <div class="row mt-2">
                                <h6>Body</h6>
                            </div>
                            <div class="row mt-1">
                                <textarea class="form-control" rows="10" th:text="${dhptestclient.requestBody}">
                                </textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <h5 class="card-header">Response</h5>
                    <div class="card-body">
                        <div class="col">
                            <div class="row">
                                <h6>Header</h6>
                            </div>
                            <div class="row mt-1">
                                <textarea class="form-control" rows="5" th:text="${dhptestclient.responseHeader}">
                                </textarea>
                            </div>
                            <div class="row mt-2">
                                <h6>Body</h6>
                            </div>
                            <div class="row mt-1">
                                <textarea class="form-control" rows="10" th:text="${dhptestclient.responseBody}">
                                </textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <button type="submit" class="btn btn-primary">Send</button>
            </div>
        </div>
    </form>
</div>
</body>

</html>